body{
	background: #FA6900;
	font-family: Impact, Charcoal, sans-serif;
}

#word{
	padding-top:20%;
}

#tracker{
	font-size: 25px; 
}
.block{
	padding-top:5%;
	text-align: center;
	width:100%;
}
.char{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 55px; 
	background: #F38630;
	color:white	;
	font-weight: bold;
}

.entered{
	color:#69D2E7;
	background: #FFFFFF;
}

.wordIncorrect{
	color:#FFFFFF;
	background: #D8000C;
}

.wordCorrect{	
	color:#FFFFFF;	
	background: #70A666;
}

#finished{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
  	bottom: 0;
  	right: 0;
	margin: auto;
	width: 500px;
	height: 300px;
	background: #FFFFFF;
	font-size: 30px;
	border-radius: 20px;
}

#restartButton{
	width: 300px;
	height: 100px;
	font-size: 30px;
	background:#F38630;
	color: white;
	border-radius: 0px;
	border: none;
}

#restartButton:hover{
	cursor: pointer;
}